body{
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    background-color:#B7CBE0;
    color:purple;
}
#art-styles{
    display: auto;
    background-color: lightcoral;
    border-radius: 5px;
    padding:5px;
    margin:5px;
}
#art-supplies{
    display: auto;
    background-color: lightcoral;
    border-radius: 5px;
    padding:5px;
    margin:5px; 
}
#art-info{
    display:flex;
}
#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{
    display:flex;
    align-items: flex-end;
    height: 150px;
    margin:5px;
}
#img-wrapper{
    background-color: lightcoral;
    display: flex;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    flex-wrap: wrap;
}
#btn{
    display: flex;
    height: 30px;
    width:80px;
}