body{
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(187, 188, 240);
    color: rgb(2, 3, 80);
}
#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1{
    text-align: center;
    text-decoration: underline;
}
h2{
    background-color: rgb(222, 224, 255);
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}
ol{
    background-color: rgb(222, 224, 255);
    border-radius: 3px;
    margin: 5px;
}
button{
    border: 1.5px solid rgb(135, 132, 153);
    background-color: rgb(191, 192, 207);
    border-radius: 2px;
}
p{
    background-color: rgb(222, 224, 255);
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
} 