*{
    background-color:blanchedalmond;
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
}
#one{
    display: grid;
    background-color: white;
    border-radius: 5px;
    padding:5px;
    margin:5px;
}
#two{
    display: grid;
    background-color: white;
    border-radius: 5px;
    padding:0%;
    margin:2px;
}
#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{
    height:150px;
}
#img{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
/*Generic Font Families
1.Serif
2.Sans-serif
3.Monospace
4.Cursive
5.Fantasy*/
